<div class="container">

  <div class="btn-group">
    <button
      *ngFor="let record_type of RECORD_TYPES"
      type="button"
      class="btn btn-secondary"
      [class.active]="chosen_record_types.includes(record_type)"
      (click)="toggleTypeSelection(record_type)"
    >
      {{ record_type }}
    </button>
  </div>

  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Image Search</h1>
      <div class="input-group-prepend">
        <input type="text" [(ngModel)]="search_request" class="form-control" placeholder="Query" name="query">
        <span class="input-group-text" (click)="SearchQuery()">Search</span>
      </div>
    </div>
    <!--    <h3 class="text-center text-secondary">{{ query }}</h3>-->
    <!--    <div *ngIf="results.length != 0">-->
    <!--      <div *ngFor="let doc of results['response']['docs']">-->
    <!--        <img *ngIf="doc['iiif-thumbnail']" [src]="doc['iiif-thumbnail']" alt="Image">-->
    <!--      </div>-->
    <!--&lt;!&ndash;      <pre>{{ results | json }}</pre>&ndash;&gt;-->
    <!--    </div>-->

    <!--    <div *ngIf="results && results['response']['docs'].length == 0">-->
    <!--      <h3 class="text-center text-secondary">No Results</h3>-->
    <!--    </div>-->


    <div *ngIf="chosen_record_types">
      <div *ngFor="let record_type of chosen_record_types">
        <p>{{record_type}}</p>

      </div>
    </div>

    <p>{{query_url}}</p>

    <div *ngIf="results">
      <div *ngIf="results['response']['docs'].length == 0">
        <h3 class="text-center text-secondary">No Results</h3>
      </div>
      <div *ngFor="let doc of results['response']['docs']">
        <img *ngIf="doc['iiif-thumbnail']" [src]="doc['iiif-thumbnail']" alt="Image">
      </div>

    </div>

  </form>
</div>
