body {
  padding: 0;
  margin: 0;
}

form{
  margin: 1em auto;
}

.btn-group {
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  font-family: serif;
  font-weight: 400;
  font-style: italic;
}

.parameter-values h3 {
  font-style: normal;
  color: gray;
  transition: color 0.2s ease; /* Smooth transition for color change */
}

.parameter-values h3:hover {
  color: blue;
}

.image-container {
  position: relative;
  display: inline-block; /* or block if you want it to occupy the full width */
  overflow: hidden; /* Hide the overflow to prevent overlay from expanding */
}

img {
  max-height: 25vh;
  min-height: 25vh;
}

.container-one {
  overflow: hidden;
  max-height: 25vh;
  min-height: 25vh;
}

.image {
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.3); /* Blue color with slight transparency */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.image-container:hover .image-overlay {
  opacity: 1; /* Show the overlay on hover */
}

.footer {
  display: flex;
  bottom: 0;
  position: absolute;
  margin-bottom: 1em;
  width: 87%;
  justify-content: space-between;
}

.parameter-values {
  margin-top: 2em;
  max-height: 38vh;
  min-height: 38vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.search-container {
}

.search-field {
  appearance: none;
  outline: none;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-family: Soehne, serif;
  width: 100%;
}
