<div class="container">

  <div class="btn-group">
    <button
      *ngFor="let record_type of RECORD_TYPES"
      type="button"
      class="btn btn-secondary"
      [class.active]="chosen_record_types.includes(record_type)"
      (click)="toggleTypeSelection(record_type)"
    >
      {{ record_type }}
    </button>
  </div>

  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Image Search</h1>
      <div class="input-group-prepend">
        <input type="text" [(ngModel)]="search_request" class="form-control" placeholder="Query" name="query">
        <button class="input-group-text" type="submit" (click)="SearchQuery()">Search</button>
      </div>
    </div>
  </form>


  <div *ngIf="current_result" class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img *ngIf="current_result['iiif-thumbnail']" [src]="current_result['iiif-thumbnail']" (click)="downloadPDFFromManifest(current_result)" alt="Result Thumbnail" class="centered-image">
      </div>
    </div>
  </div>

  <button *ngIf="current_index > 0 && results_max_index > 1" class="btn btn-secondary" (click)="ChangeResult('prev')">prev</button>
  <button  *ngIf="current_index < results_max_index && results_max_index > 1" class="btn btn-secondary" (click)="ChangeResult('next')">next</button>

    <div *ngIf="results">

    </div>

<!--      <img *ngIf="results['iiif-manifest']" [src]="getImageURLFromManifest(results)" alt="Image">-->

<!--    </div>-->

    <div *ngIf="results == undefined">
      <h3 class="text-center text-secondary">No Results for {{type_of_record}}</h3>
    </div>



</div>
